 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1140px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.8125rem;
  margin: 74px auto 0;
}

.u-section-1 .u-group-1 {
  width: 1034px;
  min-height: 962px;
  height: auto;
  margin: 55px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1rem;
  margin: 32px 0 0;
}

.u-section-1 .u-form-1 {
  height: 106px;
  margin: 72px 186px 0 675px;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-block-73bd-65 {
  margin-left: 0;
}

.u-block-73bd-85 {
  font-size: 0.75rem;
}

.u-section-1 .u-form-2 {
  height: 562px;
  margin-top: -112px;
  margin-bottom: 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-input-1 {
  font-size: 0.75rem;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-input-2 {
  font-size: 0.75rem;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-input-3 {
  font-size: 0.75rem;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-input-4 {
  font-size: 0.75rem;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-input-5 {
  font-size: 0.75rem;
}

.u-section-1 .u-text-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
}

.u-section-1 .u-input-6 {
  font-size: 0.75rem;
}

.u-section-1 .u-form-group-10 {
  margin-left: 0;
}

.u-section-1 .u-input-7 {
  font-size: 0.75rem;
}

.u-section-1 .u-form-group-11 {
  margin-left: 0;
}

.u-section-1 .u-input-8 {
  font-size: 0.75rem;
}

.u-section-1 .u-form-group-12 {
  margin-left: 0;
}

.u-section-1 .u-input-9 {
  font-size: 0.75rem;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 8px 68px 10px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1831px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 44px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    margin-top: 44px;
    min-height: 1645px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-1 .u-form-1 {
    margin-top: 1148px;
    margin-right: 139px;
    margin-left: 628px;
  }

  .u-section-1 .u-form-2 {
    margin-top: -1200px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1155px;
  }

  .u-section-1 .u-group-1 {
    min-height: 933px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 5px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-form-1 {
    margin-top: 389px;
    margin-right: 29px;
    margin-left: 518px;
  }

  .u-section-1 .u-form-2 {
    height: 535px;
    margin-top: -444px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1204px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 257px;
    margin-right: 0;
    margin-left: 367px;
  }

  .u-section-1 .u-form-2 {
    margin-top: -339px;
    margin-bottom: -3px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1630px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-form-1 {
    margin-top: 379px;
    margin-left: 167px;
  }

  .u-section-1 .u-form-2 {
    height: 834px;
    margin-top: -472px;
    margin-bottom: -84px;
  }
}