 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 3621px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.125rem;
  margin: 30px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 0.9375rem;
  margin: 11px 0 0;
}

.u-section-1 .u-form-1 {
  height: 3413px;
  --thumb-color: #b647c9;
  --thumb-hover-color: #cb77d9;
  --track-color: #c0c0c0;
  --track-active-color: #b647c9;
  width: 1091px;
  margin: 37px auto 39px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-input-1 {
  text-transform: none;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-input-2 {
  text-transform: none;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  text-transform: uppercase;
}

.u-section-1 .u-input-3 {
  text-transform: none;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-input-4 {
  text-transform: none;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-input-5 {
  text-transform: none;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-input-6 {
  text-transform: none;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-input-7 {
  text-transform: none;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-input-8 {
  text-transform: none;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
}

.u-section-1 .u-line-1 {
  height: 0;
}

.u-section-1 .u-text-3 {
  margin-left: 0;
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-12 {
  margin-left: 0;
}

.u-section-1 .u-input-9 {
  text-transform: none;
}

.u-section-1 .u-form-group-13 {
  margin-left: 0;
}

.u-section-1 .u-input-10 {
  text-transform: none;
}

.u-section-1 .u-form-group-14 {
  margin-left: 0;
}

.u-section-1 .u-form-group-15 {
  margin-left: 0;
}

.u-section-1 .u-form-group-16 {
  margin-left: 0;
}

.u-section-1 .u-input-11 {
  text-transform: none;
}

.u-section-1 .u-form-group-17 {
  margin-left: 0;
}

.u-section-1 .u-input-12 {
  text-transform: none;
}

.u-section-1 .u-form-group-18 {
  margin-left: 0;
}

.u-section-1 .u-input-13 {
  text-transform: none;
}

.u-section-1 .u-form-group-19 {
  margin-left: 0;
}

.u-section-1 .u-input-14 {
  text-transform: none;
}

.u-section-1 .u-form-group-20 {
  margin-left: 0;
}

.u-section-1 .u-input-15 {
  text-transform: none;
}

.u-section-1 .u-form-group-21 {
  margin-left: 0;
}

.u-section-1 .u-input-16 {
  text-transform: none;
}

.u-section-1 .u-form-group-22 {
  margin-left: 0;
}

.u-section-1 .u-input-17 {
  text-transform: none;
}

.u-section-1 .u-form-group-23 {
  margin-left: 0;
}

.u-section-1 .u-input-18 {
  text-transform: none;
}

.u-section-1 .u-form-group-24 {
  margin-left: 0;
}

.u-section-1 .u-input-19 {
  text-transform: none;
}

.u-section-1 .u-form-group-25 {
  margin-left: 0;
}

.u-section-1 .u-input-20 {
  text-transform: none;
}

.u-section-1 .u-form-group-26 {
  margin-left: 0;
}

.u-section-1 .u-input-21 {
  text-transform: none;
}

.u-section-1 .u-line-2 {
  height: 0;
}

.u-section-1 .u-text-4 {
  margin-left: 0;
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-29 {
  margin-left: 0;
}

.u-section-1 .u-input-22 {
  text-transform: none;
}

.u-section-1 .u-form-group-30 {
  margin-left: 0;
}

.u-section-1 .u-input-23 {
  text-transform: none;
}

.u-section-1 .u-form-group-31 {
  margin-left: 0;
}

.u-section-1 .u-input-24 {
  text-transform: none;
}

.u-section-1 .u-form-group-32 {
  margin-left: 0;
}

.u-section-1 .u-input-25 {
  text-transform: none;
}

.u-section-1 .u-form-group-33 {
  margin-left: 0;
}

.u-section-1 .u-input-26 {
  text-transform: none;
}

.u-section-1 .u-form-group-34 {
  margin-left: 0;
}

.u-section-1 .u-input-27 {
  text-transform: none;
}

.u-section-1 .u-form-group-35 {
  margin-left: 0;
}

.u-section-1 .u-input-28 {
  text-transform: none;
}

.u-section-1 .u-form-group-36 {
  margin-left: 0;
}

.u-section-1 .u-input-29 {
  text-transform: none;
}

.u-section-1 .u-form-group-37 {
  margin-left: 0;
}

.u-section-1 .u-input-30 {
  text-transform: none;
}

.u-section-1 .u-form-group-38 {
  margin-left: 0;
}

.u-section-1 .u-input-31 {
  text-transform: none;
}

.u-section-1 .u-form-group-39 {
  margin-left: 0;
}

.u-section-1 .u-input-32 {
  text-transform: none;
}

.u-section-1 .u-form-group-40 {
  margin-left: 0;
}

.u-section-1 .u-input-33 {
  text-transform: none;
}

.u-section-1 .u-form-group-41 {
  margin-left: 0;
}

.u-section-1 .u-input-34 {
  text-transform: none;
}

.u-section-1 .u-form-group-42 {
  margin-left: 0;
}

.u-section-1 .u-input-35 {
  text-transform: none;
}

.u-section-1 .u-line-3 {
  height: 0;
}

.u-section-1 .u-text-5 {
  margin-left: 0;
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-45 {
  margin-left: 0;
}

.u-section-1 .u-form-group-46 {
  margin-left: 0;
}

.u-section-1 .u-input-36 {
  text-transform: none;
}

.u-section-1 .u-form-group-47 {
  margin-left: 0;
}

.u-section-1 .u-input-37 {
  text-transform: none;
}

.u-section-1 .u-form-group-48 {
  margin-left: 0;
}

.u-section-1 .u-input-38 {
  text-transform: none;
}

.u-section-1 .u-form-group-49 {
  margin-left: 0;
}

.u-section-1 .u-input-39 {
  text-transform: none;
}

.u-section-1 .u-form-group-50 {
  margin-left: 0;
}

.u-section-1 .u-input-40 {
  text-transform: none;
}

.u-section-1 .u-form-group-51 {
  margin-left: 0;
}

.u-section-1 .u-input-41 {
  text-transform: none;
}

.u-section-1 .u-form-group-52 {
  margin-left: 0;
}

.u-section-1 .u-input-42 {
  text-transform: none;
}

.u-section-1 .u-form-group-53 {
  margin-left: 0;
}

.u-section-1 .u-label-47 {
  text-transform: uppercase;
}

.u-section-1 .u-input-43 {
  text-transform: none;
}

.u-section-1 .u-form-group-54 {
  margin-left: 0;
}

.u-section-1 .u-input-44 {
  text-transform: none;
}

.u-section-1 .u-line-4 {
  height: 0;
}

.u-section-1 .u-text-6 {
  margin-left: 0;
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-57 {
  margin-left: 0;
}

.u-section-1 .u-input-45 {
  text-transform: none;
}

.u-section-1 .u-form-group-58 {
  margin-left: 0;
}

.u-section-1 .u-form-group-59 {
  margin-left: 0;
}

.u-section-1 .u-input-46 {
  text-transform: none;
}

.u-section-1 .u-form-group-60 {
  margin-left: 0;
}

.u-section-1 .u-input-47 {
  text-transform: none;
}

.u-section-1 .u-form-group-61 {
  margin-left: 0;
}

.u-section-1 .u-label-53 {
  text-transform: uppercase;
}

.u-section-1 .u-input-48 {
  text-transform: none;
}

.u-section-1 .u-form-group-62 {
  margin-left: 0;
}

.u-section-1 .u-form-group-63 {
  margin-left: 0;
}

.u-section-1 .u-input-49 {
  text-transform: none;
}

.u-section-1 .u-form-group-64 {
  margin-left: 0;
}

.u-section-1 .u-input-50 {
  text-transform: none;
}

.u-section-1 .u-text-7 {
  margin-left: 0;
  font-weight: 700;
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-66 {
  margin-left: 0;
}

.u-section-1 .u-input-51 {
  text-transform: none;
}

.u-section-1 .u-form-group-67 {
  margin-left: 0;
}

.u-section-1 .u-input-52 {
  text-transform: none;
}

.u-section-1 .u-form-group-68 {
  margin-left: 0;
}

.u-section-1 .u-input-53 {
  text-transform: none;
}

.u-section-1 .u-form-group-69 {
  margin-left: 0;
}

.u-section-1 .u-input-54 {
  text-transform: none;
}

.u-section-1 .u-line-5 {
  height: 0;
}

.u-section-1 .u-text-8 {
  margin-left: 0;
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-1 .u-text-9 {
  margin-left: 0;
  font-weight: 700;
  font-size: 1rem;
}

.u-section-1 .u-form-group-73 {
  margin-left: 0;
}

.u-section-1 .u-input-55 {
  text-transform: none;
}

.u-section-1 .u-form-group-74 {
  margin-left: 0;
}

.u-section-1 .u-input-56 {
  text-transform: none;
}

.u-section-1 .u-form-group-75 {
  margin-left: 0;
}

.u-section-1 .u-input-57 {
  text-transform: none;
}

.u-section-1 .u-form-group-76 {
  margin-left: 0;
}

.u-section-1 .u-text-10 {
  margin-left: 0;
  font-weight: 700;
  font-size: 1rem;
}

.u-section-1 .u-form-group-78 {
  margin-left: 0;
}

.u-section-1 .u-input-58 {
  text-transform: none;
}

.u-section-1 .u-form-group-79 {
  margin-left: 0;
}

.u-section-1 .u-input-59 {
  text-transform: none;
}

.u-section-1 .u-form-group-80 {
  margin-left: 0;
}

.u-section-1 .u-input-60 {
  text-transform: none;
}

.u-section-1 .u-form-group-81 {
  margin-left: 0;
}

.u-section-1 .u-text-11 {
  margin-left: 0;
  font-weight: 700;
  font-size: 1rem;
}

.u-section-1 .u-form-group-83 {
  margin-left: 0;
}

.u-section-1 .u-input-61 {
  text-transform: none;
}

.u-section-1 .u-form-group-84 {
  margin-left: 0;
}

.u-section-1 .u-input-62 {
  text-transform: none;
}

.u-section-1 .u-form-group-85 {
  margin-left: 0;
}

.u-section-1 .u-input-63 {
  text-transform: none;
}

.u-section-1 .u-form-group-86 {
  margin-left: 0;
}

.u-section-1 .u-text-12 {
  margin-left: 0;
  font-weight: 700;
  font-size: 1rem;
}

.u-section-1 .u-form-group-88 {
  margin-left: 0;
}

.u-section-1 .u-input-64 {
  text-transform: none;
}

.u-section-1 .u-form-group-89 {
  margin-left: 0;
}

.u-section-1 .u-input-65 {
  text-transform: none;
}

.u-section-1 .u-form-group-90 {
  margin-left: 0;
}

.u-section-1 .u-input-66 {
  text-transform: none;
}

.u-section-1 .u-form-group-91 {
  margin-left: 0;
}

.u-section-1 .u-text-13 {
  margin-left: 0;
  font-weight: 700;
  font-size: 1rem;
}

.u-section-1 .u-form-group-93 {
  margin-left: 0;
}

.u-section-1 .u-input-67 {
  text-transform: none;
}

.u-section-1 .u-form-group-94 {
  margin-left: 0;
}

.u-section-1 .u-input-68 {
  text-transform: none;
}

.u-section-1 .u-form-group-95 {
  margin-left: 0;
}

.u-section-1 .u-input-69 {
  text-transform: none;
}

.u-section-1 .u-form-group-96 {
  margin-left: 0;
}

.u-section-1 .u-text-14 {
  margin-left: 0;
  font-weight: 700;
  font-size: 1rem;
}

.u-section-1 .u-form-group-98 {
  margin-left: 0;
}

.u-section-1 .u-input-70 {
  text-transform: none;
}

.u-section-1 .u-form-group-99 {
  margin-left: 0;
}

.u-section-1 .u-input-71 {
  text-transform: none;
}

.u-section-1 .u-form-group-100 {
  margin-left: 0;
}

.u-section-1 .u-input-72 {
  text-transform: none;
}

.u-section-1 .u-form-group-101 {
  margin-left: 0;
}

.u-section-1 .u-text-15 {
  margin-left: 0;
  font-weight: 700;
  font-size: 1rem;
}

.u-section-1 .u-form-group-103 {
  margin-left: 0;
}

.u-section-1 .u-input-73 {
  text-transform: none;
}

.u-section-1 .u-form-group-104 {
  margin-left: 0;
}

.u-section-1 .u-input-74 {
  text-transform: none;
}

.u-section-1 .u-form-group-105 {
  margin-left: 0;
}

.u-section-1 .u-input-75 {
  text-transform: none;
}

.u-section-1 .u-form-group-106 {
  margin-left: 0;
}

.u-section-1 .u-text-16 {
  margin-left: 0;
  font-weight: 700;
  font-size: 1rem;
}

.u-section-1 .u-form-group-108 {
  margin-left: 0;
}

.u-section-1 .u-input-76 {
  text-transform: none;
}

.u-section-1 .u-form-group-109 {
  margin-left: 0;
}

.u-section-1 .u-input-77 {
  text-transform: none;
}

.u-section-1 .u-form-group-110 {
  margin-left: 0;
}

.u-section-1 .u-input-78 {
  text-transform: none;
}

.u-section-1 .u-form-group-111 {
  margin-left: 0;
}

.u-section-1 .u-line-6 {
  height: 0;
}

.u-section-1 .u-text-17 {
  margin-left: 0;
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-1 .u-text-18 {
  margin-left: 0;
  font-weight: 700;
  font-size: 1rem;
}

.u-section-1 .u-form-group-115 {
  margin-left: 0;
}

.u-section-1 .u-input-79 {
  text-transform: none;
}

.u-section-1 .u-form-group-116 {
  margin-left: 0;
}

.u-section-1 .u-input-80 {
  text-transform: none;
}

.u-section-1 .u-form-group-117 {
  margin-left: 0;
}

.u-section-1 .u-input-81 {
  text-transform: none;
}

.u-section-1 .u-form-group-118 {
  margin-left: 0;
}

.u-section-1 .u-text-19 {
  margin-left: 0;
  font-weight: 700;
  font-size: 1rem;
}

.u-section-1 .u-form-group-120 {
  margin-left: 0;
}

.u-section-1 .u-input-82 {
  text-transform: none;
}

.u-section-1 .u-form-group-121 {
  margin-left: 0;
}

.u-section-1 .u-input-83 {
  text-transform: none;
}

.u-section-1 .u-form-group-122 {
  margin-left: 0;
}

.u-section-1 .u-input-84 {
  text-transform: none;
}

.u-section-1 .u-form-group-123 {
  margin-left: 0;
}

.u-section-1 .u-text-20 {
  margin-left: 0;
  font-weight: 700;
  font-size: 1rem;
}

.u-section-1 .u-form-group-125 {
  margin-left: 0;
}

.u-section-1 .u-input-85 {
  text-transform: none;
}

.u-section-1 .u-form-group-126 {
  margin-left: 0;
}

.u-section-1 .u-input-86 {
  text-transform: none;
}

.u-section-1 .u-form-group-127 {
  margin-left: 0;
}

.u-section-1 .u-input-87 {
  text-transform: none;
}

.u-section-1 .u-form-group-128 {
  margin-left: 0;
}

.u-section-1 .u-text-21 {
  margin-left: 0;
  font-weight: 700;
  font-size: 1rem;
}

.u-section-1 .u-form-group-130 {
  margin-left: 0;
}

.u-section-1 .u-input-88 {
  text-transform: none;
}

.u-section-1 .u-form-group-131 {
  margin-left: 0;
}

.u-section-1 .u-input-89 {
  text-transform: none;
}

.u-section-1 .u-form-group-132 {
  margin-left: 0;
}

.u-section-1 .u-input-90 {
  text-transform: none;
}

.u-section-1 .u-form-group-133 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    width: 570px;
  }

  .u-section-1 .u-form-group-3 {
    text-transform: none;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}