 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 2166px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.125rem;
  margin: 30px auto 0;
}

.u-section-1 .u-form-1 {
  height: 2264px;
  --thumb-color: #b647c9;
  --thumb-hover-color: #cb77d9;
  --track-color: #c0c0c0;
  --track-active-color: #b647c9;
  width: 1091px;
  margin: 36px auto 30px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-input-1 {
  text-transform: none;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-input-2 {
  text-transform: none;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-input-3 {
  text-transform: none;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-input-4 {
  text-transform: none;
}

.u-section-1 .u-line-1 {
  height: 0;
}

.u-section-1 .u-text-2 {
  margin-left: 0;
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-input-5 {
  text-transform: none;
}

.u-section-1 .u-form-group-9 {
  --progress: 0%;
  margin-left: 0;
}

.u-section-1 .u-input-6 {
  text-transform: none;
}

.u-section-1 .u-form-group-10 {
  margin-left: 0;
}

.u-section-1 .u-form-group-11 {
  --progress: 0%;
  margin-left: 0;
}

.u-section-1 .u-label-9 {
  text-transform: none;
}

.u-section-1 .u-input-7 {
  text-transform: none;
}

.u-section-1 .u-line-2 {
  height: 0;
}

.u-section-1 .u-text-3 {
  margin-left: 0;
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-14 {
  margin-left: 0;
}

.u-section-1 .u-input-8 {
  text-transform: none;
}

.u-section-1 .u-form-group-15 {
  margin-left: 0;
}

.u-section-1 .u-input-9 {
  text-transform: none;
}

.u-section-1 .u-form-group-16 {
  margin-left: 0;
}

.u-section-1 .u-input-10 {
  text-transform: none;
}

.u-section-1 .u-form-group-17 {
  margin-left: 0;
}

.u-section-1 .u-input-11 {
  text-transform: none;
}

.u-section-1 .u-form-group-18 {
  margin-left: 0;
}

.u-section-1 .u-input-12 {
  text-transform: none;
}

.u-section-1 .u-form-group-19 {
  margin-left: 0;
}

.u-section-1 .u-input-13 {
  text-transform: none;
}

.u-section-1 .u-form-group-20 {
  margin-left: 0;
}

.u-section-1 .u-input-14 {
  text-transform: none;
}

.u-section-1 .u-form-group-21 {
  margin-left: 0;
}

.u-section-1 .u-input-15 {
  text-transform: none;
}

.u-section-1 .u-form-group-22 {
  margin-left: 0;
}

.u-section-1 .u-input-16 {
  text-transform: none;
}

.u-section-1 .u-line-3 {
  height: 0;
}

.u-section-1 .u-text-4 {
  margin-left: 0;
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-25 {
  margin-left: 0;
}

.u-section-1 .u-input-17 {
  text-transform: none;
}

.u-section-1 .u-line-4 {
  height: 0;
}

.u-section-1 .u-text-5 {
  margin-left: 0;
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-28 {
  margin-left: 0;
}

.u-section-1 .u-line-5 {
  height: 0;
}

.u-section-1 .u-text-6 {
  margin-left: 0;
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-31 {
  margin-left: 0;
}

.u-section-1 .u-form-group-32 {
  margin-left: 0;
}

.u-section-1 .u-input-18 {
  text-transform: none;
}

.u-section-1 .u-form-group-33 {
  margin-left: 0;
}

.u-section-1 .u-input-19 {
  text-transform: none;
}

.u-section-1 .u-line-6 {
  height: 0;
}

.u-section-1 .u-form-group-35 {
  margin-left: 0;
}

.u-section-1 .u-input-20 {
  text-transform: none;
}

.u-section-1 .u-form-group-36 {
  margin-left: 0;
}

.u-section-1 .u-input-21 {
  text-transform: none;
}

.u-section-1 .u-text-7 {
  margin-left: 0;
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-38 {
  margin-left: 0;
}

.u-section-1 .u-input-22 {
  text-transform: none;
}

.u-section-1 .u-form-group-39 {
  margin-left: 0;
}

.u-section-1 .u-form-group-40 {
  margin-left: 0;
}

.u-section-1 .u-input-23 {
  text-transform: none;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    width: 570px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}